<html>
    <head>
    <title> Thesis Approval </title>
    </head>
    <body>
        <h1>Approve PhD Student's Thesis</h1>
        <a href="{{url_for('home')}}">Home Page</a>
        <form action="/approved_final" method="POST">
            <h4>{{session['phd']}}'s Thesis Status: {{session['approval_status']}}</h4><br><br>
            {% if session['approval_status'] == "Not Approved" %}
                Approve the user's thesis: <input type="submit" name="Approve Thesis">
            {% endif %}
            {% if session['approval_status'] == "Approved" %}
                Already approved user's thesis.
            {% endif %}
        </form>
    </body>
</html>