<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Information</title>
</head>

<body>
    <h1>Personal Information</h1>
    <a href="{{url_for('home')}}">Home Page</a>

    {% if not edit_mode %}
    <div>
        <div>
            <span>Name:</span>
            <span>{{info['fname']}} {{info['lname']}}</span>
        </div>
        {% if info['email'] %}
            <div>
                <span>Email:</span>
                <span>{{info['email']}}</span>
            </div>
        {% endif %}

        {% if info['address'] %}
            <div>
                <span >Address:</span>
                <span>{{info['address']}}</span>
            </div>
        {% endif %}
        <form method="GET" action = "{{url_for('personalinfo')}}">
            <input type="hidden" name="edit" value="true">
            <button type = "submit">Edit Information</button>
        </form>
    </div>
    {% else %}
    <div>
        <form method = "POST" action ="{{ url_for('update_personalinfo') }}">
            <div>
                <span>First Name:</span>
                <input type="text" name ="fname" value = "{{info['fname']}}" required>
            </div>
            <div>
                <span>Last Name:</span>
                <input type="text" name = "lname" value = "{{info['lname']}}" required>
            </div>
            <div>
                <span>Email:</span>
                <input type="text" name = "email" value = "{{info.get('email', '')}}" required>
            </div>
            <div>
                <span>Address:</span>
                <input type="text" name = "address" value = "{{info.get('address', '')}}" required>
            </div>
            <button type="submit">Save Changes</button>
            <a href="{{ url_for('personalinfo')}}"><button type="button">Cancel</button></a>
        </form>
    </div>
    {% endif %}

</body>
</html>