<html>
    <head>
    <title> Form1 Review </title>
    </head>
    <body>
        <h1>Review Form 1</h1>
        <a href="{{url_for('home')}}">Home Page</a>
        <form action="/form1_student_page" method="POST">
            <label for="selectstu">Choose a student</label>
            <select name="selectstu" id="selectstu">
                {% for i in session['students']%}
                <option value={{i[0]}}>{{i[0]}}</option>
                {% endfor %}
            </select>
            <input type="submit" name="submit">
        </form>
    </body>
</html>