<html>
    <head>
    <title> Student Info </title>
    </head>
    <body>
        <h1>Student Info</h1>
        <a href="{{url_for('home')}}">Home Page</a>
        <form action="/show_student_data" method="POST">
            <label for="studata">Choose a student to see info</label>
            <select name="studata" id="studata">
                {% for i in session['studata']%}
                <option value={{i[0]}}>{{i[0]}}</option>
                {% endfor %}
            </select>
            <input type="submit" name="submit">
        </form>
    </body>
</html>